# _**Learn Python3 the ~~Hard~~ Way By Zed Shaw**_
#### _"The hard way is really easy"_

_**Example 1:**_ _First program_

In [16]:
print("Hello, world!")
print("Hello again!")
print("I love typing this!")
print("Hurrah! I'm typing!")
print('This is fun!')
print("Python3 as 'magic'!")
print("I would say it's cool")

Hello, world!
Hello again!
I love typing this!
Hurrah! I'm typing!
This is fun!
Python3 as 'magic'!
I would say it's cool

_**Example 2**_: _Comments and Symbols **#**_

In [19]:
#Comments allow you understand the purpose of the code
#Lines after # are ignored by python

print("This is my program") #and this comment is ignored

# With the help of comments, you can "turn off" parts of the code:

# print("Code doesn't work.")

print("The code works!")

This is my program
The code works.

_**Example3**_: _Numbers and Math_

In [44]:
print("I'll count my livestock:")
print("Chicken", 25 + 30 / 6)
print("Roosters", 100 - 25 * 3 % 4)
print("And now I'll count all eggs:")
print(3 + 2 + 1 - 5 + 4 % 2 - 1 / 4 + 6)
print("Is it true, that 3 + 2 < 5 - 7?")
print(3 + 2 < 5 -7)
print("What is 3 + 2?", 3 + 2)
print("What is 5 -7?", 5 -7)
print("Oops, I seem to be confused...Why False")
print("I'll count again")
print("Is it bigger?", 5 > -2)
print("Is greater then or equal to?", 5 >= -2)
print("Is less then or equal to?",5 <= -2)


# lynks >> https://www.geeksforgeeks.org/python-numbers-type-conversion-and-mathematics/
# Python code to demonstrate Type conversion 
var1 = 3.14
  
# type conversion of float to int .
var2 = int(var1) 
  
print ("After converting float to integer : ", var2) 
print ("type : ",type(var2))
  
# type conversion of string to integer
var3 = "323"
var4 = int(var3) 
  
print ("After converting string to integer : ", var4) 
print ("type : ",type(var4))

I'll count my livestock:
Chicken 30.0
Roosters 97
And now I'll count all eggs:
6.75
Is it true, that 3 + 2 < 5 - 7?
False
What is 3 + 2? 5
What is 5 -7? -2
Oops, I seem to be confused...Why False
I'll count again
Is it bigger? True
Is greater then or equal to? True
Is less then or equal to? False
After converting float to integer :  3
type :  <class 'int'>
After converting string to integer :  323
type :  <class 'int'>

_**Example4**_: _Variables and names_

In [49]:
cars = 100
space_in_a_car = 4.0
drivers = 30
passengers = 90
cars_not_driven = cars - drivers
cars_driven = drivers
carpool_capacity = cars_driven * space_in_a_car
average_passengers_per_car = passengers / cars_driven

print("In stock", cars, "cars")
print("M only", drivers, "drivers went to work")
print("It turns out that", cars_not_driven, "cars are empty")
print("We can transport today", carpool_capacity, "person")
print("Today you need to take", passengers, "person")
print("There wiil be approximately", average_passengers_per_car, "person in each car")

In stock 100 cars
M only 30 drivers went to work
It turns out that 70 cars are empty
We can transport today 120.0 person
Today you need to take 90 person
There wiil be approximately 3.0 person in each car

_**Example5**_:_More about variables and output_

In [62]:
my_name = 'Zed Shaw'
my_age = 35 #this is true
my_height = 188 #cm
my_weight = 80 #kg
my_eyes = 'blue'
my_tees = 'white'
my_hair = 'chestnut'

print(f"Let's talk about a person {my_name}")
print(f"His height is {my_height}cm")
print(f"His weight is {my_weight}kg")
print("Actually,it's not mutch")
print(f"Him {my_eyes} eyes and {my_hair} hair")
print(f"His tees are usually {my_tees}, although he likes to drink coffe")

total = my_age + my_height + my_weight
print(f"If I add {my_age} and {my_height} and {my_weight}, I get {total}")

Let's talk about a person Zed Shaw
His height is 188cm
His weight is 80kg
Actually,it's not mutch
Him blue eyes and chestnut hair
His tees are usually white, although he likes to drink coffe
If I add 35 and 188 and 80, I get 303

_**Example6**_: _Lines and text_

In [71]:
types_of_people = 10

x = f"There are {types_of_people} types of people"

binary = "Python"
do_not = "does not understand"

y = f"Those who accept {binary}, and those who - {do_not}"

print(x)
print(y)

print(f"I said {x}")
print(f"And also i said {y}")

hilarious = False
joke_evaluation = "Isn't that funny?! ()"
print(joke_evaluation.format(hilarious))

w = "This is the part of the string on the left..."
e = "and this is on the right"
print(w + e)

There are 10 types of people
Those who accept Python, and those who - does not understand
I said There are 10 types of people
And also i said Those who accept Python, and those who - does not understand
Isn't that funny?! ()
This is the part of the string on the left...and this is on the right

_**Example7**_: _More about withdrawal_

In [80]:
print("Mary had a little lamb.")
print("His fur was as white as {}.".format('snow'))
print("And ewerywere Mary went,")
print("The litle lamb always followed her.")
print("." * 10) #what could this mean?
end1 = "B"
end2 = "a"
end3 = "d"
end4 = "d"
end5 = "y"
end6 = "G"
end7 = "a"
end8 = "y"

#Note the comma at the and of the line.Take her away.What happenedQ!?
print(end1 + end2 + end3 + end4 + end5, end =' ')
print(end6 + end7 + end8)

Mary had a little lamb.
His fur was as white as snow.
And ewerywere Mary went,
The litle lamb always followed her.
..........
Baddy Gay

_**Example8**_: _Conclusion, conclusion_

In [87]:
formatter = "{} {} {} {}"

print(formatter.format(1, 2, 3, 4))
print(formatter.format("one", "two", "three", "for"))
print(formatter.format(True, False, False, True))
print(formatter.format(formatter, formatter, formatter, formatter))
print(formatter.format(
       "They sleep in the pony stable",
       "snow began to fall",
       "only boy Gonny",
       "doesn't go to sleep!"
))

1 2 3 4
one two three for
True False False True
{} {} {} {} {} {} {} {} {} {} {} {} {} {} {} {}
They sleep in the pony stable snow began to fall only boy Gonny doesn't go to sleep!

_**Example9**_: _Conclusion, conclusion, conclusion_

In [94]:
#Somewhat unusual code,type it exactly

days = "Mo Tu We Th Fr Sa Su"
month = "\nJan\nFeb\nMar\nApr\nMay\nJun\nJul\nAug"

print("These are the day of the week:", days)
print("And these are the month:", month)

print("""
      what is going on here!?
      Three double quotes are used.
      We can type as much text as we want.
      Even 4 lines, 5 or 6. 
"""
)

These are the day of the week: Mo Tu We Th Fr Sa Su
And these are the month:
Jan
Feb
Mar
Apr
May
Jun
Jul
Aug

      what is going on here!?
      Three double quotes are used.
      We can type as much text as we want.
      Even 4 lines, 5 or 6.

_**Example10**_: _Managers sequences_

In [99]:
d_artagnan = "\tMy name is d_Artangan"
athos = "This line\nis split is two"
porthos = "I am \\ - \\ musketeer"

aramis = """
Tips:
\t* Earl of Gascony
\t* Linked to Milady
\t* Baron\n\t* Orden General
"""

print(d_artagnan)
print(athos)
print(porthos)
print(aramis)

	My name is d_Artangan
This line
is split is two
I am \ - \ musketeer

Tips:
	* Earl of Gascony
	* Linked to Milady
	* Baron
	* Orden General

_**List of Escape Sequence Available in Python**_

**\’**	Single quote

**\\’**	Double quote

**\\**	Backslash

**\n**	Newline

**\r**	Carriage Return

**\t**	Horizontal Tab

**\b**	Backspace

**\f**	Formfeed

**\v**	Vertical Tab

**\0**	Null Character

**\N{Name}**	Unicode character Database named lookup

**\uxxxxxxxx**	Unicode character with a 16-bit hex value

**\Uxxxxxxxx**	Unicode character with a 32-bit hex value

**\000**	Character with octal value ooo

**\xhh**	Character with hex value hh